<form
  [formGroup]="predictionForm"
  (ngSubmit)="onSubmit()"
  class="form-container"
>
  <h1>DEEP LEARNING FAKE NEWS DETECTOR!</h1>
  <h4>Follow the next steps for an accurate prediction:</h4>
  <ol>
    <li>Select the correct language</li>
    <li>Paste the posible fake news text</li>
    <li>Click on predict</li>
  </ol>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select formControlName="language" required>
      <mat-option value="spanish">Spanish</mat-option>
      <mat-option value="english">English</mat-option>
    </mat-select>
  </mat-form-field>

  <h4 *ngIf="result">
    Result: The news is {{ result?.fake == "True" ? "FAKE" : "REAL" }}. The
    probability of being fake is {{ result.value }}
  </h4>
  <mat-spinner
    class="spinner"
    *ngIf="isAny"
    mode="indeterminate"
    diameter="20"
    color="accent"
  ></mat-spinner>
  <mat-form-field appearance="fill">
    <mat-label>Paste text here</mat-label>
    <textarea matInput rows="20" formControlName="news" required></textarea>
  </mat-form-field>
  <br />
  <button mat-raised-button type="submit" [disabled]="!predictionForm.valid">
    PREDICT
  </button>
  <h5>Authors: Kevin Gallego, Andrés Alvarez</h5>
  <h5>UdeA Students</h5>
</form>
